
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
.header{
    height: 100px;
    align-items: center;
    width: 100%;
}
.content{
    align-items: center;
    text-align: center;
}