.topBar {
  display: flex;
  min-width: 101rem;
  align-items: center;
  background: white;
  width: 100%;
  height: 100px;
}
.docs{
  flex: 0.5;
}

.logoContainer {
  margin-left: 30px;
  flex: 2;
}

.textContainer {
  flex: 6;
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttonContainer {
  flex: 1;
  right: 30px;
  border-radius: 30px;
}
.status{
  flex: 1;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0000004f;
    
}

.modalContent {
  background-color: #fefefe;
  justify-content: center;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.modalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modalClose:hover,
.modalClose:focus {
  color: #040054fe;
  text-decoration: none;
  cursor: pointer;
}

input[type="file"] {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.close-btn{
  margin-top: 20px;
}