.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  background-color: gold;
}

.logoContainer {
  flex: 1;
}

.textContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttonContainer {
  flex: 1;
  right: 30px;
  border-radius: 30px;
}

/* Modal styling */
.modal {
  display: block;
  /* Show the modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.modalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modalClose:hover,
.modalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type="file"] {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal h3 {
  font-size: 20px;
  margin-bottom: 10px;
}